


  .cardTitleBox {
  background-color: none;
  }
  h3 {
    font-family: 'Roboto Condensed';
    display: inline-block;
    margin: 0;
  }
    .cardImage {
      img{
        max-width: 24rem;
        max-height: 14rem;
        border-radius: 24px;
      }
    }


//set margin-left for every box except the first and 3rd
.colouredBox:not(:first-child, :nth-child(3)) {
  margin-left: 12px;
}

// @for $key, $colour in $grid-column {
//    //create a selector and
//    //append a number with the sass interpelator
//   .colouredBox:nth-child(3n + #{$key}) {
//     //using the number, grab the colour from the appropriate map
//     background-color: $colour;
//   }
// }

