img {
    width: 100%;
    border-radius: 25px;
  }
.div{
    height: 10rem;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(14, 0.1fr);
    z-index: 1;
    border-radius: 25px;

    
  }
div:nth-child(1){
    justify-self: start;
    grid-column: 2/14;
    grid-row: 4/14;
      }