$grid-column: 11;
$grid-row:14;
$grid-column-start: 2;
$grid-column-end: 4;


.boxGrid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(11rem, 12rem));
}

// Card Layout:

.boxContainer-{
  display: inline-block;
  
}
@for $i from 1 through $grid-column {
  .boxContainer-#{$i} {
    grid-column-start: $grid-column-start;
    grid-column-end: $grid-column-end;
    $grid-column-start: $grid-column-start + 3;
    $grid-column-end: $grid-column-end + 3;
    margin-bottom: 1rem;
    @if($grid-column-end >= $grid-column ){
    $grid-column-start: 2;
    $grid-column-end: 4;
    }
  }
}
.navContainerMenu- {
    display: inline-block;
  }
@for $i from 1 through $grid-column {
  .navContainerMenu-#{$i} {
    grid-column-start: $i;
    align-self: center;
    justify-self: center;
    margin: 2.8rem;

  }
}

.cardImage {
  img{
    display: inline-block;
    max-width: 24rem;
    max-height: 14rem;
    border-radius: 24px;
      
    }
    :hover {
      box-shadow: 0 0 10px #FCD561;
  }
}
.cardText{
  display: inline-block;
  
}


// Landing Page Grid

.LandingGrid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(11rem, 12rem));
  grid-auto-rows: 11rem;
}


//Landing Page NavBar

.navContainerLanding- {
  display: inline-block;
  
}
@for $i from 1 through $grid-column {
.navContainerLanding-#{$i} {
  grid-column-start: $i;
  align-self: center;
  justify-self: center;
  margin: 2.8rem 0;
  @if( $i >  9 ){
    justify-self: start ;
    }
  }
}


//Landing Page One

.LandingContainerOne-{
  display: inline-block;
}
@for $i from 1 through $grid-column {
  .LandingContainerOne-#{$i} {
    @if ($i == 1){
        grid-column-start: 2;
        grid-column-end: $grid-column;
        overflow: hidden;
        border-radius: 24px;
        z-index: -1;
        grid-row: 1 / 4;
        img{
          position: relative;
          bottom: 20rem;
        }
        
    }
    @if ($i == 2){
      grid-column-start: 2;
      grid-column-end: 5;
      grid-row: 2/3;
      
    }
    @if ($i == 3){
      grid-column-start: 2;
      grid-column-end: 5;
      grid-row: 4/5;
      align-self: center;
      margin-bottom: 50px;
      
    }
    
  }
}


// Landing Page 2

.LandingContainerTwo-{
  display: inline-block;
}

@for $i from 1 through $grid-column {
  .LandingContainerTwo-#{$i} {
    @if ($i == 1){
        grid-column-start: 2;
        grid-column-end: $grid-column;
        overflow: hidden;
        border-radius: 24px;
        z-index: -1;
        grid-row: 3 / 6;
    }
    @if ($i == 2){
      grid-column: 5/ span 3;
      grid-row-start: 2;
      
    }
    @if ($i == 3){
      grid-column: 4/ span 4;
      grid-row-start: 2;
      text-align: center;
      margin-top: 6rem;
    }
    
  }
}

//Landing Page 3 

.LandingContainerThree-{
  display: inline-block;
}

@for $i from 1 through $grid-column {
  .LandingContainerThree-#{$i} {
    @if ($i == 1){
        grid-column: 2 / span 2;
        grid-row: 2;
       
    }
    @if ($i == 2){
      grid-column: 2/ span 2;
      grid-row-start: 2;
      margin-top: 6rem;
      
    }
    @if ($i == 3){
        grid-column: 5 / span 2;
        z-index: -1;
        overflow: hidden;
        grid-row: 2 / 5;
    }
    @if ($i == 4){
      grid-column: 8/ 9;
      grid-row: 3;
      align-self: center;

  }
  @if ($i == 5){
    grid-column: 10/ 11;
    grid-row: 3;
    align-self: center;
}
    
  }
}

//Landing Page 4 

.LandingContainerFour-{
  display: inline-block;
}

@for $i from 1 through $grid-column {
  .LandingContainerFour-#{$i} {
    div{
      display: inline-block;
      position: absolute;
      border: 1px solid #FCD561;
      border-radius: 0 24px;
      text-align: center;
      }
    @if ($i == 1){
        grid-column: 8 / span 2;
        grid-row: 3;
    }
    @if ($i == 2){
      grid-column: 8 / span 2;
      margin-top: 5rem;
      grid-row: 3;
  }
  @if ($i == 3){
    grid-column: 2 / span 2;
    grid-row: 2/4;
      .DivTopLeft {
        div{
          width: 20rem;
          height: 20rem;
        }
        img{
          left: 80px;
          bottom: 100px;
        }
        h2{
          position: relative;
          left: -120px;
          bottom: 260px;
        }
        h5{
          position: relative;
          left: -100px;
          bottom: 260px;
        }
      }
    }
    @if ($i == 4){
      grid-column: 5 / span 2;
      grid-row: 2/4;
        .DivTopRight {
          div{
            width: 20rem;
            height: 35rem;
          }
          img{
            left: 80px;
            bottom: 100px;
          }
          h2{
            position: relative;
            left: -120px;
            bottom: 350px;
          }
          h5{
            position: relative;
            left: -90px;
            bottom: 110px;
          }
        }
      }
      @if ($i == 5){
        grid-column: 1 / span 4;
        margin-left: 5rem;
        grid-row: 4/5;
          .DivBottomLeft {
            div{
              width: 40rem;
              height: 20rem;
            }
            img{
              left: 200px;
              bottom: 30px;
              max-width: 60%;
              max-height: 70%;
            }
            h2{
              position: relative;
              left: -120px;
              bottom: 200px;
            }
            h5{
              position: relative;
              left: -240px;
              bottom: 170px;
            }
          }
        }
  }
}



//Your Set Page

.YourSetContainer-{
  display: inline-block;
}

@for $i from 1 through $grid-column {
  .YourSetContainer-#{$i} {
    div{
      display: inline-block;
      position: absolute;
      text-align: center;
      }
    @if ($i == 1){
        grid-column: 2 / span 3;
    }
    @if ($i ==2){
      grid-column: 2 /span 2;
      grid-row: 2;
      text-align: center;
    }
  }
}